{{ partial "head" . }}

<body class="wrapper blog">
    {{ partial "header" . }}
    {{ partial "navigation" . }}
    <script type="application/ld+json">
        {{ partial "structured-data" . | safeJS }}
    </script>
    <article class="content">
        {{ .Content }}
        <footer>
            <p>Article publié le {{ .PublishDate.Day }} {{ index $.Site.Data.mois (printf "%d" .PublishDate.Month) }} {{ .PublishDate.Year }} et modifié le {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</p>
        </footer>
    </article>
    {{ partial "footer" . }}
</body>
</html>
