{{ partial "head" . }}

<body class="wrapper home">
    {{ partial "header" . }}
    {{ partial "navigation" . }}
    <article class="content" itemscope itemtype="http://schema.org/Person">
        <h1 itemprop="name"><span itemprop="givenName">Olivier</span> <span itemprop="familyName">Fredon</span></h1>
        <h2 itemprop="jobTitle">Designer et concepteur Web freelance</h2>
        <p>Fort d'une expérience de 15 ans et d'un parcours m'ayant amené aussi bien en agence que chez l'annonceur, je peux aujourd'hui intervenir à différentes étapes de vos besoins en communication.<br>
        Doté d'une vision transversale et multidisciplinaire, je peux vous accompagner et vous aider dès l'amorce de projet en analysant vos besoins et en élaborant une stratégie de réponse adaptée, ainsi qu'à la mise en œuvre et à la réalisation.<br>
        Du recueil de besoin à la gestion de projet en passant par la conception graphique ou encore l'intégration, je vous propose d'apporter des solutions pertinentes à vos objectifs et enjeux en ayant à cœur de toujours garder une vision centrée sur vos utilisateurs.</p>
        <p><a href="mailto:contact@olivierfredon.com">N'hésitez pas à me contacter</a> pour échanger sur vos projets.<br>Actuellement basé dans le Lot-et-Garonne (47), entre Agen et Villeneuve-sur-Lot, je peux me déplacer pour venir à votre rencontre même au delà des limites de ce joli département.</p>
        <link itemprop="url" href="//olivierfredon.com">
        <link itemprop="worksFor" href="//olivierfredon.com">
        <meta itemprop="additionalName" content="the2ne">
        <meta itemprop="gender" content="male">
        <meta itemprop="nationality" content="France">
    </article>
    {{ partial "footer" . }}
</body>
</html>
