////
/// Navigation : header and footer
////

// Header Navbar

.navbar {
    color: $light;
    display: block;
    list-style-type: none;
    margin: 1em 2em;
    padding: 0;
    text-align: center;

    >* {
        display: inline-block;
    
        a {
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
            padding: .25em .5em;
            text-decoration: none;

            transition-property: background-color, border-color, color;
            transition-duration: 2s, 1s, 1s;
            transition-timing-function: ease;
        }
    
        a:link {
            color: $white;
            border-color: $white;
            @include _background-opacity($black, .2);
        }
    
        a:visited {
            color: $light;
            border-color: $light;
            @include _background-opacity($black, .4);
        }
    
        a:hover {
            color: $contrast;
            border-color: $contrast;
            @include _background-opacity($black, .7);
        }
    
        a:active {
            color: $neutral;
            border-color: $neutral;
        }
    
        a:focus {
            color: $white;
            border-color: $white;
        }
    }

    li:not(:first-child) {
        margin-left: 1em
    }
}

// Footer external links and legals


.links {
    text-align: center;

    .social-networks {
        display: inline-block;
        list-style-type: none;
        margin: 1em auto;
        padding: 0;
    
        + p {
            margin: 0 auto 1em;
        }
        
        >* {
            display: inline-block
        }
        
        li+li {
            margin-left: .5em
        }
        
        .svg {
            fill-rule: evenodd;
            width: 1.5em;
            height: 100%;
        }
        

        a .svg {
            transition-property: fill;
            transition-duration: 1s;
            transition-timing-function: ease;
        }

        a:link .svg {
            fill: $light;
        }
        
        a:visited .svg {
            fill: $neutral
        }
        
        a:hover .svg {
            fill: $contrast
        }
        
        a:active .svg {
            fill: $white
        }
    }

    .legals {
        font-size: $fontSmall;
        
        a:link { color: $light; }
        a:hover { color: $contrast; }
    }
}
