

.content {
    margin: 0;
    padding: 1em 2em;
    @include _background-opacity($black, 0.666);

    h1 {
        font-size: $fontSize * 3;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0;
    }

    h2 {
        font-family: $fontFamilyAlternative;
        font-weight: normal;
        margin-bottom: $fontSize;
        margin-top: 0;
    }

    abbr {
        border-bottom: 1px dotted;
    }

    blockquote {
        border-left: 4px solid $white;
        @include _background-opacity($white, 0.1);
        font-style: italic;
        margin: 1.5em 0;
        padding: .5em 1em;
    }

}