// Small breakpoint
@media screen and (min-width: 21em) {
    //Headlines
    .title {
        font-size: $fontSize * 1.75;
    }

    .content {
        font-size: $fontSize * 1.25;
    }
}

// Medium breakpoint
@media screen and (min-width: 40em) {
    // background for large medium
    .site {
      background-image: url(../images/bg-medium.jpg);
    }
    .site.gradius {
      background-image: url(../images/bg-42-medium.jpg);
    }

    //Headlines
    .title {
        font-size: $fontSize * 3;
    }
    .baseline {
        font-size: ($fontSize + .063); /* equ 17px */
    }

    .content {
        margin: 3em 10%;
        padding: 1em 3em;
    }
}

// Desktop breakpoint
@media screen and (min-width: 60em) {
    // background for large screen
    .site {
      background-image: url(../images/bg-large.jpg);
    }
    .site.gradius {
      background-image: url(../images/bg-42-large.jpg);
    }

    .content {
        margin: 3em 20%;
    }
}