////
/// Configuration and Customization
////


// Typography

$fontFamily: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontFamilyAlternative: "Roboto Slab", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$fontSize: 1.125em;
$baseline: 1.5;


// ColorScheme

$black: #000;
$white: #FFF;

$neutral: #777;
$light: #c0c0c0;
$base: #333;
$contrast: #ddc79d;
