@charset "utf-8";

@font-face {
    font-family: "Fraunces";
    src: url("/fonts/fraunces-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Settings
@import
        "_settings",
        "_mixins"
;

// Libraries
@import
        "vendor/normalize"
;

// Components
@import
        "custom/global",
        "custom/layout",
        "custom/navigation",
        "custom/typography"
;