<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="{{ if .IsHome}}{{ .Site.Params.description | safeHTML  }}{{ else }}{{ .Description | safeHTML  }}{{ end }}">
    <title>{{ if .IsHome }}{{ .Title | safeHTML }}{{ else }}{{ .Title | safeHTML }} | {{ .Site.Params.author }}{{ end }}</title>
    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    
    {{ if .Site.IsServer }}
    {{ $style := resources.Get "scss/core.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
    <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
    {{ else }}
    {{ $style := resources.Get "scss/core.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
    <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
    {{ end }}
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    
    {{ partial "metas" . }}
</head>
