
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@the2ne">
    <meta name="twitter:title" content="{{ .Site.Params.author }}">
    <meta name="twitter:description" content="{{ .Site.Params.description }}">
    <meta name="twitter:image" content="//www.olivierfredon.com/images/bg-404.jpg">

    <meta property="og:title" content="{{ .Site.Params.author }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="//www.olivierfredon.com">
    <meta property="og:image" content="//www.olivierfredon.com/images/bg-404.jpg">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:locale:locale" content="fr_fr">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#636363">
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.author }}">
    <meta name="application-name" content="{{ .Site.Params.author }}">
    <meta name="theme-color" content="#333333">