{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
{{ range $paginator.Pages }}
<article>
    <header>
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <div><time datetime="{{ .Date.Format "02 January 2006" }}">{{ .Date.Format "02 January 2006" }}</time></div>
    </header>
    <section>
        <p>{{ .Summary }}&hellip;</p>
        {{ if .Truncated }}
        <p><a href="{{ .Permalink }}">Read more</a></p>
        {{ end }}
    </section>
</article>
{{ end }}
